mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    }
    .example-header-image {
    background-image: url('/assets/images/circuitos.jpg');
    background-size: cover;
    }
    