@if(datos){
  <div class="scroll-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ datos[0].bodega.nombre }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="ubicacion">{{ datos[0].bodega.ubicacion.nombre }}</p>
        <p class="ubicacion">Productos:</p>
        @for (item of datos; track item.productoId) {
        <ul>
          <li>SKU: {{ item.producto.sku }}</li>
          <li>Nombre: {{ item.producto.nombre }}</li>
          <li>Cantidad en Stock: {{ item.cantidadStock }}</li>
          <li>Cantidad Mínima: {{ item.cantidadMinima }}</li>
          <li>Cantidad Máxima: {{ item.cantidadMaxima }}</li>
          <p>Ajustes:</p>
          @for (item of item.producto.ProductoAjusteInventario; track item.ajusteInventarioId){
            <p>Ajuste: {{ item.ajusteInventario.id }}</p>
            <ul>
              <li>Tipo de Movimiento: {{ item.ajusteInventario.tipoMovimiento }}</li>
              <li>Fecha: {{ item.ajusteInventario.fecha | date:'dd/MM/YY'}}</li>
              <li>Realizado por: {{ item.ajusteInventario.usuario.nombre }}</li>
            </ul>
          }
        </ul>
        }
      </mat-card-content>
    </mat-card>
  </div>
}
