<form [formGroup]="inventarioForm" (ngSubmit)="submitInventario()"  novalidate >
  <input type="hidden" />
  <mat-card class="shipping-card"> 
    <mat-card-header>
      <mat-card-title>{{titleForm}} Mantenimiento de inventario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col" *ngIf="bodegasList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Bodegas" formControlName="bodegas" single>
              @for (item of bodegasList; track item.id) {
                <mat-option [value]="item.id">
                  {{item.nombre}}
              </mat-option>
            }
              
            </mat-select>
            @if (errorHandling('bodegas')) {
              <mat-error>
                {{errorHandling('bodegas')}}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col" *ngIf="productosList">
          <mat-form-field class="full-width">
            <mat-select placeholder="Productos" formControlName="productos" single>
              @for (item of productosList; track item.id) {
                <mat-option [value]="item.id">
                  {{item.nombre}}
              </mat-option>
            }
              
            </mat-select>
            @if (errorHandling('productos')) {
              <mat-error>
                {{errorHandling('productos')}}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" formControlName="cantidadStock" placeholder="Cantidad en Stock" >
            @if (errorHandling('cantidadStock')) {
              <mat-error>
                {{errorHandling('cantidadStock')}}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" formControlName="cantidadMinima" placeholder="Cantidad Minima" >
            @if (errorHandling('cantidadMinima')) {
              <mat-error>
                {{errorHandling('cantidadMinima')}}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" formControlName="cantidadMaxima" placeholder="Cantidad Maxima" >
            @if (errorHandling('cantidadMaxima')) {
              <mat-error>
                {{errorHandling('cantidadMaxima')}}
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
      <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
      <button mat-raised-button color="primary" (click)="onBack()">Regresar</button>
      <button mat-raised-button color="accent" type="submit">Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
