@if(datos){
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{"Ajuste Id: " + datos.id }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Fecha: {{ datos.fecha }}</p>
      <p>Bodega: {{ datos.bodega.nombre }}</p>
      <p>Tipo de Movimiento: {{ datos.tipoMovimiento }} </p>
      <p>Justificacion: {{ datos.justificacion }} </p> 
      <p>Usuario: {{ datos.usuario.id + " - "+ datos.usuario.nombre }} </p> 
      <p>
        <p>Productos:
          @if(datos.productos.length > 0){
            @for(item of datos.productos; track item.id) {  
              <p>Producto: {{ item.producto.nombre }} </p> 
              <p>Cantidad: {{ item.cantidad }} </p> 
            }
          }
        </p> 
    </mat-card-content>
  </mat-card>
}
