<div class="grid-container">
    <mat-card>
    <mat-card-header><h1 class="mat-h1">Inventario</h1></mat-card-header>
    <div class="report-buttons">
      <button mat-button color="primary" (click)="reporteMovimientosDiarios()">
        <mat-icon>description</mat-icon>
        <span>Movimientos del día</span>
      </button>
    </div>
    <mat-card-content>
    <mat-form-field class="full-width">
    <mat-label>Nombre de la bodega</mat-label>
    <input matInput >
    <button mat-icon-button matSuffix color="primary" >
    <mat-icon>search</mat-icon>
    </button>
    </mat-form-field> 
    </mat-card-content>
    </mat-card>
    <mat-grid-list [cols]="4" rowHeight="15em" gutterSize="10px">
        @for(item of datos; track item.bodegaId){
            <mat-grid-tile>
                <mat-card class="dashboard-card">
                  <mat-card-header class="dashboard-card-header">
                    <mat-card-title>{{item.bodega.nombre}} </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    @if(item.producto){
                    <div class="producto">{{item.producto.nombre}}</div>
                    }
                  </mat-card-content>
                  <mat-divider inset></mat-divider>
                  <mat-card-actions>
                    <button 
                      mat-mini-fab
                      color="accent"
                      matTooltip="Detalle Bodega"
                      aria-label="Detalle Bodega"
                      color="primary"
                      (click)="detalleInventario(item.bodegaId)"
                    >
                      <mat-icon class="mat-18">info</mat-icon>
                    </button>
                    
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
        }
        
      </mat-grid-list>
    </div>
    