<form [formGroup]="userForm" (ngSubmit)="submitUser()" novalidate>
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{titleForm}} Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="nombre" placeholder="Nombre">
            <mat-error *ngIf="errorHandling('nombre')">
              {{errorHandling('nombre')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="id" placeholder="Id">
            <mat-error *ngIf="errorHandling('id')">
              {{errorHandling('id')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput formControlName="correoElectronico" placeholder="Correo Electrónico">
            <mat-error *ngIf="errorHandling('correoElectronico')">
              {{errorHandling('correoElectronico')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

       <!-- Movimientos -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Rol" formControlName="rol">
              <mat-option value="Cliente">Cliente</mat-option>
              <mat-option value="Empleado">Empleado</mat-option>
              <mat-option value="Administrador">Administrador</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onBack()">Regresar</button>
        <button mat-raised-button color="accent" type="submit">Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>