@if(datos){
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ datos.id }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Fecha de Generacion: {{ datos.fechaGeneracion | date}}</p>
        <p>Fecha de Recepcion: {{ datos.fechaRecibida | date}}</p>
        <p>Bodega: {{datos.bodega.nombre}}</p>
        @if(datos.proveedor) {
            <p>Proveedor: {{ datos.proveedor.nombre }}</p>
            <p>Correo del proveedor: {{ datos.proveedor.correoElectronico }}</p>
        }
        <p>Productos:</p>
        @for(item of datos.productos; track item.id) {
            <p>Producto: {{ item.producto.nombre }}</p>
            <ul>
                <li>Cantidad: {{ item.cantidad }}</li>
                <li>Costo Unitario: {{ item.producto.costoUnitario | currency}}</li>
            </ul>
        }
        <p>Total Pagado: {{calcularTotal(datos.productos) | currency}}</p>
      </mat-card-content>
    </mat-card>
  }
  